<?xml version="1.0"?>
<launch>
  <arg name="ojama" default="true"/>
  <arg name="beego" default="true"/>
  <arg name="rviz" default="true"/>

    <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros" respawn="true">
      <param name="param_file"
        value="/home/ubuntu/researches/programs/platform/yp-robot-params/robot-params/beego.param" />
      <param name="port" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00" />
      <param name="cmd_vel_expire" value="5.0" />
    </node>

  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
    <param name="calibrate_time" type="bool" value="false"/> 
    <!-- Set the port to connect to here -->
    <param name="serial_port" type="string" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00"/> 
    <param name="intensity" type="bool" value="true"/>
  </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find yamasemi_sim)/rviz/yamabico.rviz" /> -->

    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    </node>

    <node name="rotation" pkg="yamabico_param" type="rotation" output="screen">
    </node>

    <!-- <node name="object_avoid" pkg="saishu" type="object_avoid" output="screen">
    </node> -->

    <!-- <node name="saishu_detect" pkg="saishu" type="saishu_detect">
    </node> -->
    

</launch>